body {
    background-color: #b2d1e0;
}    
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
}

li {
    float: left;
    width: 25%;
}

a:link, a:visited {
    display: block;

    font-weight: bold;
    color: #FFFFFF;
    background-color: #006699;
    text-align: center;
    padding: 4px;
    text-decoration: none;
    text-transform: uppercase;
}

a:hover, a:active {
    background-color: #0066ca;
}
#se 
{
   text-align: right;
   margin-top: -40px;
}
#welc{
    text-align: right;
}

#hot
{
 background-color:  #b2d1e0
}